# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
int_a = 10
int_b = 10
print(id(int_a),id(int_b))

10751144 10751144

*місце для текстової відповіді

дивлячись на написаний код, можна зрозуміти, що ці дві змінні посилаються по факту на одну комірку памʼяті, так як число одне і в діапазоні від -5 до 256. Це певна оптимізація від Python

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
boolean_a = True
print(type(boolean_a))
print(isinstance(boolean_a, int))
print(isinstance(boolean_a, bool))

<class 'bool'>
True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
int_a = 10
float_b = 9.15
str_to_print = f"{int_a} + {float_b} = {int_a + float_b }"
print (str_to_print)
str_to_print = f"{int_a} - {float_b} = { int_a - float_b }"
print (str_to_print)
str_to_print = f"{int_a} / {float_b} = {int_a / float_b}"
print (str_to_print)
str_to_print = f"{int_a} * {float_b} = {int_a * float_b}"
print(str_to_print)
str_to_print = f"{int_a} // {float_b} = {int_a // float_b}"
print(str_to_print)
int_a = 35
float_b = -3.5
str_to_print = f"|{int_a}| / |{float_b}| = {abs(int_a) /  abs(float_b)}"
print(str_to_print)
int_a = 2
float_b = 4.4
power = 2
str_int = f"{int_a}^ {power} = {int_a ** power}"
print(str_int)
str_float = f"{float_b}^{power} = {float_b ** power}"
print(str_float)

10 + 9.15 = 19.15
10 - 9.15 = 0.8499999999999996
10 / 9.15 = 1.0928961748633879
10 * 9.15 = 91.5
10 // 9.15 = 1.0
|35| / |-3.5| = 10.0
2^ 2 = 4
4.4^2 = 19.360000000000003

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
import math
float_b = 10.7
print(float_b)
print((float_b).is_integer())
float_b = int(float_b)
print(float_b)
#or another way how to downward type

float_b = 80.5
print(float_b)
float_b = math.trunc(float_b)
print(float_b)
#from bool to int

bool_to_change = True
print(bool_to_change)
bool_to_change =int(bool_to_change)
print(bool_to_change)
#check if works in both ways

bool_to_change = 0
print(bool_to_change)
bool_to_change = bool(bool_to_change)
print(bool_to_change)

10.7
False
10
80.5
80
True
1
0
False

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

чесно кажучи, не зовсім зрозумів суть завдання, тому про всяк випадок написав третій варіант.

In [2]:
first_variant_str = ""
second_variant_str = ''
third_variant_str = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
string_default = " defalt string with  \' \\s \\a"
print(string_default)
raw_string = r"raw string with \'  \\s \\a"
print (raw_string)

 defalt string with  ' \s \a
raw string with \'  \\s \\a

Тут можна побачити різницю між сирим рядком і звичайним. Сирий виводить реально все, що в ньому є, на відміну від звичайного рядка( без "r" на початку)

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
str_surname = "Prokopchuk"
str_to_print = f"My surname is {str_surname}"
print(str_to_print)

My surname is Prokopchuk

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
str_dog = "My dog is crazy."
str_dog = str_dog.replace(".", "")
str_dog = str_dog.lower()
print(str_dog)
list_abt_dog = str_dog.split()
print(list_abt_dog)

my dog is crazy
['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list_1 = [1,2,4,3,10]
list_2 = list((1,2,3,4,7,5))
print("Are they actually lists?")
print(isinstance(list_1, list), isinstance(list_2, list))
print("What lenght of the second list?")
print(len(list_2))

Are they actually lists?
True True
What lenght of the second list?
6

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list_1 = list((1,2,3,4,7,5))
list_2 = [1,5,4,3,8]
list_1.insert(len(list_1),list_2)
print(list_1)

[1, 2, 3, 4, 7, 5, [1, 5, 4, 3, 8]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [3]:
list_1 = [10,11,54]
list_2 = [50,30,18]
list_3 = [20,32,29]
list_4 = []
list_4.insert(0,list_1)
list_4.insert(len(list_1),list_2)
list_4.insert(len(list_1 + list_2),list_3)
print(list_4)
res = list_4[2]
print(res[0])

[[10, 11, 54], [50, 30, 18], [20, 32, 29]]
20

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list_of_everything = [10.4 , 5 , 'a' , True , 200 ,complex(20,-5), 'b', [3,6,7], 1.5 , False]
print(len(list_of_everything))
new_smaller_list = list_of_everything[2:len(list_of_everything) - 2]
print(f"{new_smaller_list} and it's size = {len(new_smaller_list)}" )

10
['a', True, 200, (20-5j), 'b', [3, 6, 7]] and it's size = 6

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tuple_1 = 1,
print(f"{isinstance(tuple_1, tuple)} , {tuple_1}")

True , (1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Спочатку схожості:
*   Оба типи в документації Python входять до Sequence types, і це каже про те, що вони обидва підтримують доступ через індекс, ітерацію по елементах, можуть містити елементи різних типів і використовуватись в циклах
Відмінності:
*   Кортежі immutable, а списки mutable
*   кортежі незмінні, через це вони швидші
*   кортежі хешовані
*   різні використовуються дужки

Випадки використання:

Списки можемо використовувати якщо нам треба буде змінювати дані після створення цієї структури
Кортежі ж наприклад якщо треба структура констант в проекті

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
eleven_tuple = (20.3, 10.2 , 100.1 , 1.1 , 5.8 , 6.2 , 8.8 , 9.0 , 0.1, 90.3)
eleven_tuple = tuple(reversed(eleven_tuple))
res_tuple = eleven_tuple[0:len(eleven_tuple):2]
print(res_tuple)

(90.3, 9.0, 6.2, 1.1, 10.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
empty_set = set()
empty_set.add(True)
empty_set.add(0.00001)
empty_set.add("tralala")
#or we can do like this
# empty_set.update( [True, 0.00001 , "tralala"])
print(empty_set)

{1e-05, True, 'tralala'}

Множини є змінним типом даних, бо можна додавати/видаляти/змінювати елементи множини після її створення

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

видалились повтори в множині, тому що це основна властивість множини - вона видаляє повтори, на відміну від списку, де зберігається просто все, що додали.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
first_set = {'a','b','c','d','e','f'}
second_set = {'d','e','f','g','h','i'}
intersection = first_set & second_set
union = first_set | second_set
diff = first_set - second_set
symmetric_diff = first_set ^ second_set
print(intersection)
print(union)
print(diff)
print(symmetric_diff)

{'d', 'f', 'e'}
{'f', 'e', 'd', 'g', 'a', 'b', 'c', 'i', 'h'}
{'b', 'c', 'a'}
{'g', 'a', 'b', 'c', 'i', 'h'}


# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
empty_dict = {}
empty_dict[1] = "int as a key"
empty_dict["key"] = "str as a key"
empty_dict[0.66] = "float as a key"
empty_dict[(0,1)] = "tralala"
# my_list = [1, 2, 3]
# empty_dict[my_list] = "bubub" #TypeError
print(empty_dict)

{1: 'int as a key', 'key': 'str as a key', 0.66: 'float as a key', (0, 1): 'tralala'}

Список не може бути ключем словника, бо список, як ми знаємо, mutable, а ключами можуть бути лише незмінні типи даних і які є хешованими.а якщо ми припустимо змінимо список, то в словнику ми вже не знайшли за старим хешом потрібне нам значення, яке мало б бути привʼязане до списку

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
three_times_deep_dict = {
    "car " : " VW Golf",
    "year " : 2013,
    "more info" : {
        "owner" : "Vova Prokopchuk",
        "engine" : {
        "volume" : "1.4 L",
        "horsepowers" : 140,
        "torque" : 200
        }
    },
    "region" : "odesa"

}
what_i_need = three_times_deep_dict ["more info"] ["engine"] ["horsepowers"]
print(what_i_need)

140

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.